In [3]:
import time
import math
import csv
import os
import numpy as np
import pandas as pd

In [4]:
filename='NEON.D16.ABBY.DP3.30006.001.readme.20220302T205717Z.txt'
df = pd.read_csv(filename, header = None, sep = "\t")

In [5]:
#select h5 file name in the readme file
h5file = df.loc[df[0].str.endswith('.h5')]

In [6]:
h5file

                                                   0
25   NEON_D16_ABBY_DP3_551000_5061000_reflectance.h5
26   NEON_D16_ABBY_DP3_555000_5064000_reflectance.h5
27   NEON_D16_ABBY_DP3_553000_5062000_reflectance.h5
28   NEON_D16_ABBY_DP3_552000_5067000_reflectance.h5
29   NEON_D16_ABBY_DP3_554000_5069000_reflectance.h5
..                                               ...
133  NEON_D16_ABBY_DP3_553000_5063000_reflectance.h5
134  NEON_D16_ABBY_DP3_552000_5061000_reflectance.h5
135  NEON_D16_ABBY_DP3_553000_5073000_reflectance.h5
136  NEON_D16_ABBY_DP3_556000_5065000_reflectance.h5
137  NEON_D16_ABBY_DP3_550000_5066000_reflectance.h5

[109 rows x 1 columns]

## split h5 file name to extract Xmin and Ymin

In [7]:
h5file_split=h5file[0].str.split('_',expand=True)

In [8]:
print (h5file_split)

        0    1     2    3       4        5               6
25   NEON  D16  ABBY  DP3  551000  5061000  reflectance.h5
26   NEON  D16  ABBY  DP3  555000  5064000  reflectance.h5
27   NEON  D16  ABBY  DP3  553000  5062000  reflectance.h5
28   NEON  D16  ABBY  DP3  552000  5067000  reflectance.h5
29   NEON  D16  ABBY  DP3  554000  5069000  reflectance.h5
..    ...  ...   ...  ...     ...      ...             ...
133  NEON  D16  ABBY  DP3  553000  5063000  reflectance.h5
134  NEON  D16  ABBY  DP3  552000  5061000  reflectance.h5
135  NEON  D16  ABBY  DP3  553000  5073000  reflectance.h5
136  NEON  D16  ABBY  DP3  556000  5065000  reflectance.h5
137  NEON  D16  ABBY  DP3  550000  5066000  reflectance.h5

[109 rows x 7 columns]

In [9]:
h5file= h5file.join(h5file_split[4]).join(h5file_split[5])

In [10]:
h5file

                                                   0       4        5
25   NEON_D16_ABBY_DP3_551000_5061000_reflectance.h5  551000  5061000
26   NEON_D16_ABBY_DP3_555000_5064000_reflectance.h5  555000  5064000
27   NEON_D16_ABBY_DP3_553000_5062000_reflectance.h5  553000  5062000
28   NEON_D16_ABBY_DP3_552000_5067000_reflectance.h5  552000  5067000
29   NEON_D16_ABBY_DP3_554000_5069000_reflectance.h5  554000  5069000
..                                               ...     ...      ...
133  NEON_D16_ABBY_DP3_553000_5063000_reflectance.h5  553000  5063000
134  NEON_D16_ABBY_DP3_552000_5061000_reflectance.h5  552000  5061000
135  NEON_D16_ABBY_DP3_553000_5073000_reflectance.h5  553000  5073000
136  NEON_D16_ABBY_DP3_556000_5065000_reflectance.h5  556000  5065000
137  NEON_D16_ABBY_DP3_550000_5066000_reflectance.h5  550000  5066000

[109 rows x 3 columns]

In [13]:
h5file_ren=h5file.rename(columns={0: "Filename", 4: "Xmin", 5:"Ymin"})

In [14]:
h5file_ren

                                            Filename    Xmin     Ymin
25   NEON_D16_ABBY_DP3_551000_5061000_reflectance.h5  551000  5061000
26   NEON_D16_ABBY_DP3_555000_5064000_reflectance.h5  555000  5064000
27   NEON_D16_ABBY_DP3_553000_5062000_reflectance.h5  553000  5062000
28   NEON_D16_ABBY_DP3_552000_5067000_reflectance.h5  552000  5067000
29   NEON_D16_ABBY_DP3_554000_5069000_reflectance.h5  554000  5069000
..                                               ...     ...      ...
133  NEON_D16_ABBY_DP3_553000_5063000_reflectance.h5  553000  5063000
134  NEON_D16_ABBY_DP3_552000_5061000_reflectance.h5  552000  5061000
135  NEON_D16_ABBY_DP3_553000_5073000_reflectance.h5  553000  5073000
136  NEON_D16_ABBY_DP3_556000_5065000_reflectance.h5  556000  5065000
137  NEON_D16_ABBY_DP3_550000_5066000_reflectance.h5  550000  5066000

[109 rows x 3 columns]

## reset index

In [16]:
h5file_ren = h5file_ren.assign(Index=range(len(h5file_ren))).set_index('Index')

In [17]:
h5file_ren

                                              Filename    Xmin     Ymin
Index
0      NEON_D16_ABBY_DP3_551000_5061000_reflectance.h5  551000  5061000
1      NEON_D16_ABBY_DP3_555000_5064000_reflectance.h5  555000  5064000
2      NEON_D16_ABBY_DP3_553000_5062000_reflectance.h5  553000  5062000
3      NEON_D16_ABBY_DP3_552000_5067000_reflectance.h5  552000  5067000
4      NEON_D16_ABBY_DP3_554000_5069000_reflectance.h5  554000  5069000
...                                                ...     ...      ...
104    NEON_D16_ABBY_DP3_553000_5063000_reflectance.h5  553000  5063000
105    NEON_D16_ABBY_DP3_552000_5061000_reflectance.h5  552000  5061000
106    NEON_D16_ABBY_DP3_553000_5073000_reflectance.h5  553000  5073000
107    NEON_D16_ABBY_DP3_556000_5065000_reflectance.h5  556000  5065000
108    NEON_D16_ABBY_DP3_550000_5066000_reflectance.h5  550000  5066000

[109 rows x 3 columns]

 ## convert the column Xmin, Ymin to int

In [19]:
h5file_ren = h5file_ren.astype({"Xmin":"int","Ymin":"int"})

In [20]:
 h5file_ren['Xcenter'] =  h5file_ren['Xmin']+500

In [21]:
 h5file_ren['Ycenter'] =  h5file_ren['Ymin']+500

In [22]:
 h5file_ren.to_csv('output.csv')